<app-navbar></app-navbar>
<div class="container">
    <div class="info">
        <h1>ABOUT THE <span>OGEN GYM</span></h1>
        <br>
        <h3>Fitness - Bodybuilding - Powerlifting</h3>
        <br>
        <div class="text">The Fitness Factory is a 24/7, multi-level facility that houses an expansive selection of equipment, resources for a complete wellness experience. We provide a friendly, welcoming atmosphere for all members for all fitness levels from beginners to the PRO athletes.  Whether your passion is, cardio, weight training, bodybuilding, powerlifting, CrossFit, or functional training; we have all the equipment and necessary machines you need for results.</div>
        <br>
        <div>Come train with us!</div>
    </div>
    <div class="features">
        <ul class="first-column">
            <h3>Our Facility Features:</h3>

            <li>
                <mat-icon>star</mat-icon>
                <span class="ul-text">Over 18.000 square feet of space</span>
            </li>
            <li>
                <mat-icon>star</mat-icon>
                <span class="ul-text">Locker rooms with private showers and day lockers</span>
            </li>
            <li>
                <mat-icon>star</mat-icon>
                <span class="ul-text">Two levels of cardio equipment</span>
            </li>
            <li>
                <mat-icon>star</mat-icon>
                <span class="ul-text">60 feet of turf for sleds</span>
            </li>
        </ul>
        
        <ul class="second-column">
            <li>
                <mat-icon>star</mat-icon>
                <span class="ul-text">Dumbbells up to 150 lbs</span>
            </li>
            <li>
                <mat-icon>star</mat-icon>
                <span class="ul-text">Hammer Strenght plate loaded equipment</span>
            </li>
            <li>
                <mat-icon>star</mat-icon>
                <span class="ul-text">Pin loaded weight training machines</span>
            </li>
            <li>
                <mat-icon>star</mat-icon>
                <span class="ul-text">7 squat racks</span>
            </li>
            <li>
                <mat-icon>star</mat-icon>
                <span class="ul-text">4 deadlift platforms with bumper plates</span>
            </li>
            <li>
                <mat-icon>star</mat-icon>
                <span class="ul-text">Rogue Glute Hamstring Developer</span>
            </li>
        </ul>   
    </div>
    <div class="info2">
        <div class="info2-text">
            <hr>
            <h1>THE <span>OGEN GYM</span></h1>
            <br>
            <div class="text2">The Supplement Factory is your source for nutrition and supplements. We have your nutrition needs covered including protein shakes made to order, protein bars and other snacks, as well as a wide array of supplements, to take home.</div>
        </div>
        <img class ="img"src="../assets/about/suplements.jpg">
        <div class="info2-first-column">
            <h5>The Shake Bar</h5>
            <li>Protein Shakes made to order</li>
            <li>Pre Workout Drinks & Powder</li>
            <li>BCAAs & EAAs</li>
            <li>Protein Bars & Other Snacks</li>
            <li>Bottled Water</li>
            <li>Energy Drinks</li>
            <li>Ready to Drink Protein</li>
        </div>
        <div class="info2-second-column">
            <h5>Retail & Merchandise</h5>
            <li>Protein Tubs</li>
            <li>Pre Workout</li>
            <li>Intra Workout</li>
            <li>Custom Apparel</li>
            <li>Shaker Bottles</li>
            <li>Combination Locks</li>
            <li>Ear Buds</li>
        </div>
        

    </div>
</div>
<app-footer></app-footer>