<mat-toolbar color="primary" class="toolbar">

    <a mat-button (click)="goToPage('main/main-page')">OgenGym</a>

    <div class="spacer"></div>

    <a mat-button (click)="goToPage('main/about')">About us</a>
    <a mat-button>Staff</a>
    <a mat-button (click)="goToPage('main/gallery')">Gallery</a>
    <a mat-button (click)="goToPage('main/rates')">Rates</a>
    <a mat-button (click)="goToPage('main/contact')">Contact</a>
    <a mat-raised-button color="accent">Sign Up</a>





    

</mat-toolbar>


