.container{
    display: flex;
    flex-direction: row;
}

.contact-details{
    height: 400px;
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 0;
}

.google-map{
    height: 400px;
    width: 550px;
    padding-top: 10%;
    margin-bottom: 10%;
}